#container{
    /* display: flex; */
    /* border: 1px solid red; */
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 60px;
}
#container>div{
    display: flex;
    height: 400px;
    /* border: 1px solid green; */
    margin: 10px;

}
#image{
    width: fit-content;
    margin: 10px;
}
#image>img{
    height: 100%;
}
#div1{
    display: flex;
    justify-content: space-between;
}
#head{
    text-align: center;
}
#bar{
    /* display: flex; */
    align-items: center;
    width: fit-content;
    margin: auto;
}
#rating{
    display:flex;
}
#recc{
    align-self: center;
    margin-left: 35px;
    width: 100px;
    height: 50px;
}
#search{
    width: 230px;
}
#searchbox{
    height: 150px;
    width: 236px;
    margin-top: -1px;
    border:1px solid black;
    border-top: none;
    display: none;
    overflow-y: scroll;
    position:absolute;
    background-color: white;
}
#trend{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 75%;
    margin: auto;
}